@{
    ViewBag.Title = "Entrar";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="free-educational-responsive-web-template-webEdu">
    <meta name="author" content="webThemez.com">
    <title>Arit-Mat</title>
    <link rel="favicon" href="~/Images/favicon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" id="camera-css" href="~/Content/camera.css" type="text" media="all">

    <script type='text/javascript' src='~/Scripts/jquery.min.js'></script>
    <script src="~/Scripts/custom.js"></script>

    <script>
        jQuery(document).ready(function f() {
            function wrapAjax(xurl, xdata, cbkfun) { //Wrapper para simplificação das transações AJAX
                alert("WRAP AJAX");
                jQuery.ajax({
                    'async': false,
                    'cache': false,
                    'dataType': 'text',
                    'type': 'post',
                    'url': xurl,
                    'data': xdata,
                    'success': cbkfun
                });
            };

            //validacao de login cliente
            jQuery('#login1').on('submit', function(ev) {
                ev.preventDefault();
                ev.stopPropagation();
                wrapAjax('../../AuxPages/CheckLogin.cshtml',
                    { 'username': jQuery('#loginUser').val(), 'password': jQuery('#loginPw').val() },
                    function (retData, retStatus, xhr) {
                        alert("FUNCTION!!!");
                        var recebido = retData.trim();
                        if (recebido === "ok") {
                            window.location.replace('Index');
                        } else {
                            alert("LOGIN ERRADO!");
                        }
                    }
                );
            });
        });
        
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/content/html5shiv.js"></script>
        <script src="~/content/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="~/Images/logo.png" alt="Techro HTML5 template">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right mainNav">
                <li class="c1 active">
                    <a href="Index">Início</a>
                </li>
                <li class="c2">
                    <a href="About.cshtml">Sobre</a>
                </li>
                <li class="c3">@Html.ActionLink("Entrar", "Login", "Home") </li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="section-title">Bem vindo ao Arit-Mat!</h3>
            <p>
                Agradecemos....
            </p>
            <form class="form-light mt-20" role="form" id="login1">
                <div class="form-group">
                    <label>Utilizador</label>
                    <input type="text" class="form-control" name="Username" id="loginUser" required="" placeholder="Nome de Utilizador" autocomplete="on"/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="Password" id="loginPw" required="" placeholder="Password" minlengh="4"/>
                </div>

                <div class="nice-checkbox">
                    <label for="keep-signin">Manter sessão iniciada.</label>
                    <input type="checkbox" class="checkbox-o" id="rememberCbox"/>
                </div>
                <button type="submit" id="btnLogin" class="btn btn-two">Entrar</button>
                <p>
                    <br/>
                </p>
            </form>
            <p class="h3">
                <small>
                    Ainda não estás registado? <a data-toggle="tab">
                        <strong>
                            <a href="~/Home/Register"></a>
                        </strong>
                    </a>
                </small>
            </p>

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>
    
    <script type='text/javascript' src='~/Scripts/fancybox/jquery.fancybox.pack.js'></script>

    <script type='text/javascript' src='~/Scripts/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='~/Scripts/camera.min.js'></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>


<!-- /container -->

