<!DOCTYPE html>
<html>
<body>

    <link rel="favicon" href="~/Images/favicon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="~/Content/style.css">

    @RenderBody()
    @RenderSection("scripts", required: false)

    <footer>
        <p>&copy; @DateTime.Now.Year - LI4 </p>
    </footer>
</body>
</html>